@page "/setting/users"
@layout SettingsLayout

<div class="h-100 d-flex">
    <div class="col-xl-2 col-lg-3 col-md-4 user-group">
        <Button class="create-user" Type="@ButtonType.Primary" OnClick="OnToggleModalUserDetail">
            <i class="fa-light fa-plus"></i>
            Thêm thành viên
        </Button>
        <div class="groups">
            <AntDesign.Input Placeholder="Tìm kiếm" @bind-Value="@_searchRoleKey" Class="pe-1">
                <Suffix>
                    <Button Type="@ButtonType.Primary" Size="@AntSizeLDSType.Small" OnClick="OnToggleModalRoleDetail">
                        <i class="fa-light fa-plus cursor-pointer"></i>
                    </Button>
                </Suffix>
            </AntDesign.Input>
            <div class="mt-2">
                @if (!_roles.Any()) {<Empty Description="false"/>}
                <Tree ShowIcon
                      SearchValue="@_searchRoleKey"
                      MatchedClass="site-tree-search-value"
                      DataSource="_roles"
                      TitleExpression="x => x.DataItem.Name"
                      ChildrenExpression="x => x.DataItem.Children">
                </Tree>
            </div>
        </div>
    </div>
    <div class="col-xl-10 col-lg-9 col-md-8">
        
    </div>
</div>

<Modal Title="@("Thông tin người dùng")"
       Visible="@_modalUserDetailVisible"
       OnOk="@OnSubmitUserDetail"
       OnCancel="@OnToggleModalUserDetail">
    <RoleDetail/>
</Modal>

<Modal Title="@("Thông tin vai trò")"
       Visible="@_modalRoleDetailVisible"
       OnOk="@OnSubmitRoleDetail"
       OnCancel="@OnToggleModalRoleDetail">
    <RoleDetail/>
</Modal>