@using AioCore.Shared.Common.Constants
@using AioCore.Shared.Extensions
@using AioCore.Shared.ValueObjects
@inherits LayoutComponentBase

<Layout>
    <Sider>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" Class="wrapper-sider flex flex-col">
            <div class="flex logo">
                <img src="images/logo.png" alt="aioc" class="mx-auto my-3.5"/>
            </div>
            <Tooltip Placement="@Placement.Right" Title="@("Trang chủ")">
                <MenuItem Key="Home">
                    <i class="fa-light fa-house"></i>
                </MenuItem>
            </Tooltip>
            <div class="space-grow"></div>
            <Popover ContentTemplate="@SettingsMenu" Placement="@Placement.Right" Trigger="@(new[] { Trigger.Hover })">
                <MenuItem Key="Features">
                    <i class="fa-light fa-gear"></i>
                </MenuItem>
            </Popover>
        </Menu>
    </Sider>
    <Layout>
        @Body
    </Layout>
</Layout>

@code {

    [Inject]
    private AuthenticationStateProvider? StateProvider { get; set; }

    private UserClaimsValue? _userClaims = new();

    protected override async Task OnInitializedAsync()
    {
        _userClaims = StateProvider?.UserClaims();
        await base.OnInitializedAsync();
    }

    private RenderFragment SettingsMenu =>
        @<div class="grid grid-rows-4 grid-flow-col gap-4">
            <NavLink href="@SystemFeatures.Tenants" class="submenu cursor-pointer">
                <div class="p-1 flex">
                    <i class="fa-duotone fa-server text-xl text-red-600 w-5"></i>
                    <div class="p-0 px-3">
                        <h4 class="submenu-title">Thuê bao</h4>
                        <div class="submenu-description">Quản lý các thuê bao có trong hệ thống</div>
                    </div>
                </div>
            </NavLink>
            <NavLink href="@string.Format(SystemFeatures.Entities, _userClaims?.TenantId)" class="submenu cursor-pointer">
                <div class="p-1 flex">
                    <i class="fa-duotone fa-table-tree text-xl text-orange-600 w-5"></i>
                    <div class="p-0 px-3">
                        <h4 class="submenu-title">Đối tượng</h4>
                        <div class="submenu-description">Quản lý và khởi tạo đối tượng tùy chỉnh của hệ thống</div>
                    </div>
                </div>
            </NavLink>
            <NavLink href="@SystemFeatures.Forms" class="submenu cursor-pointer">
                <div class="p-1 flex">
                    <i class="fa-duotone fa-rectangle-list text-xl text-yellow-600 w-5"></i>
                    <div class="p-0 px-3">
                        <h4 class="submenu-title">Biểu mẫu</h4>
                        <div class="submenu-description">Tương tác với đối tượng thông qua biểu mẫu</div>
                    </div>
                </div>
            </NavLink>
            <NavLink href="@SystemFeatures.Features" class="submenu cursor-pointer">
                <div class="p-1 flex">
                    <i class="fa-duotone fa-list-tree text-xl text-blue-600 w-5"></i>
                    <div class="p-0 px-3">
                        <h4 class="submenu-title">Chức năng</h4>
                        <div class="submenu-description">Tùy chỉnh hiển thị cây chức năng của hệ thống</div>
                    </div>
                </div>
            </NavLink>
        </div>;

}