@using AioCore.Web.Pages.SettingPages.BuilderPages.ViewModels
@using AioCore.Web.Pages.SettingPages.TenantPages.ViewModels
@using AioCore.Web.Services
@using AioCore.Write.SettingCommands.TenantCommands
@using MediatR
@using Microsoft.AspNetCore.Components
@using AioCore.Shared.Extensions
@using AioCore.Shared.Common.Constants
@using AioCore.Write.SettingCommands.CodeCommands
@using AioCore.Read.SettingQueries.CodeQueries
<Drawer Width="@_drawerSize" Closable="true" Visible="@Visible" Placement="left" Title="@Title" OnClose="Close">
    <Form @ref="@_form" Model="@_model" Layout="@FormLayout.Vertical">
        <FormItem>
            <Input Class="w-full" @bind-Value="@context.Name"/>
        </FormItem>
        <FormItem>
            <TextArea Rows="20" ShowCount @bind-Value="@context.Code"></TextArea>
        </FormItem>
        <Button class="flex ml-auto text-gray-700 bg-white hover:bg-gray-50 hover:text-black" @onclick="OnSubmit">
            Lưu
        </Button>
    </Form>
</Drawer>

@code{

    private bool _visible;
    private int _drawerSize = 600;

    [Parameter]
    public bool Visible
    {
        get => _visible;
        set
        {
            if (_visible == value) return;
            _visible = value;
            VisibleChanged.InvokeAsync(value);
        }
    }

    private Guid? _selectedCodeNode;

    [Parameter]
    public Guid TenantId { get; set; }

    [Parameter]
    public Guid? VisibleNode
    {
        get => _selectedCodeNode;
        set
        {
            if (_selectedCodeNode == value) return;
            _selectedCodeNode = value;
            VisibleNodeChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter]
    public EventCallback<Guid?> VisibleNodeChanged { get; set; }

    [Parameter]
    public EventCallback<bool> Submitted { get; set; }

    [Parameter]
    public string Title { get; set; } = default!;

    private Form<CodeDetailModel> _form = new();

    private CodeDetailModel _model = new();

    [Inject]
    public IMediator Mediator { get; set; } = default!;

    [Inject]
    public IAlertService Alert { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (VisibleNode != null)
        {
            _drawerSize = 600;
        };
        await base.OnInitializedAsync();
    }

    public async Task FetchAsync(Guid? codeId)
    {
        if (codeId is null) return;
        var response = await Mediator.Send(new GetCodeQuery(codeId));
        _model = response.Data.To<CodeDetailModel>();
    }

    void Close()
    {
        Visible = false;
    }

    private async Task OnSubmit()
    {
        var validated = _form.Validate();
        if (validated)
        {
            Visible = false;
            var command = _model.To<SubmitCodeCommand>();
            command.Update(TenantId, _selectedCodeNode);
            var response = await Mediator.Send(command);
            await Submitted.InvokeAsync(response.Success);
            if (response.Success) await Alert.Success(response.Message);
            else await Alert.Error(response.Message);
            _model = new CodeDetailModel();
        }
        else
        {
            await Alert.Error(Messages.ValidateFormFailed);
        }
    }

}