@page "/settings/builder/{tenantId:guid}"
@using AioCore.Domain.SettingAggregate
@using AioCore.Read.SettingQueries.CodeQueries
@using AioCore.Shared.Extensions
@using AioCore.Web.Pages.SettingPages.BuilderPages.ViewModels
@using MediatR
@using Microsoft.AspNetCore.Components
@layout EditorLayout

<div>
    <div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0 bg-white border-r">
        <div class="flex flex-col flex-grow pt-5 bg-white overflow-y-auto">
            <div class="flex font-bold">
                <Button Type="@ButtonType.Link" class="flex items-center flex-shrink-0 px-4">
                    <i class="fa-duotone fa-caret-left"></i>
                </Button>
                <h1 class="flex my-auto">Giao diện</h1>
            </div>
            <div class="mt-5 flex-1 flex flex-col">
                <h1 class="flex font-bold justify-center px-2.5">
                    Mã nguồn
                    <div class="button-group flex ml-auto">
                        <Button @onclick="@Open" Size="@AntSizeLDSType.Small" Disabled="@(_selectedKey is null)" class="mx-0.5 flex justify-center items-center text-sm font-medium">
                            <i class="fa-duotone fa-pen-to-square"></i>
                        </Button>
                        <Button @onclick="@Open" Size="@AntSizeLDSType.Small" class="mx-0.5 flex justify-center items-center text-sm font-medium">
                            <i class="fa-solid fa-plus"></i>
                        </Button>
                    </div>
                </h1>
                @if (Codes is not null && Codes.Count > 0)
                {
                    <Tree @ref="_tree" DefaultExpandAll BlockNode
                          ShowLine ShowIcon DataSource="@Codes" Class="border m-2.5 shadow-sm rounded-md"
                          TitleExpression="x => x.DataItem.Name"
                          ChildrenExpression="x => x.DataItem.Child"
                          IsLeafExpression="x => x.DataItem.Child?.Count == 0"
                          KeyExpression="x => x.DataItem.Id.ToString()"
                          TItem="SettingCode" OnClick="@OnSelectNode">
                    </Tree>
                }
                else
                {
                    <Empty Class="my-4" Description="false"/>
                }
                <div class="space-grow grow"></div>
                <div class="">
                    <div class="px-2 pb-3 space-y-1">
                        <NavLink href="#" class="bg-[#001529] text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
                            <i class="fa-duotone fa-swatchbook mr-2"></i>
                            Màu sắc
                        </NavLink>
                    </div>
                    <div class="px-2 pb-3 space-y-1">
                        <NavLink href="#" class="bg-[#001529] text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
                            <i class="fa-duotone fa-swatchbook mr-2"></i>
                            Thiết lập tổng quan
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md:pl-64 flex flex-col flex-1">
        <div class="sticky top-0 z-10 flex-shrink-0 flex h-16 bg-white border-b">
        </div>
        <main>
            <div class="py-6">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                    <h1 class="text-2xl font-semibold text-gray-900">Dashboard</h1>
                </div>
                <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                    <div class="py-4">
                        <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<CodeDetail @ref="@CodeDetail" @bind-Visible="@_toggleDetail" @bind-VisibleNode="@_selectedKey" Title="@Title" TenantId="@TenantId" Submitted="() => FetchAsync()"/>

@code{

    private bool _toggleDetail;
        private const string Title = "Thông tin tệp";
    private Tree<SettingCode> _tree = default!;
    private Guid? _selectedKey;
    private SettingCode? SelectedFile { get; set; }
    private TreeNode<SettingCode>? SelectedNode { get; set; }
    private List<SettingCode>? Codes { get; set; }
    private Form<CodeDetailModel> _form = new();
    private CodeDetailModel _model = new();
    private CodeDetail CodeDetail { get; set; } = new();
    
    [Parameter]
    public Guid TenantId { get; set; }

    [Inject]
    private IMediator Mediator { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await FetchAsync(1);
        await base.OnInitializedAsync();
    }

    private async Task FetchAsync(int page = 1, int pageSize = 8)
    {
        var response = await Mediator.Send(new ListCodeQuery(page, pageSize));
        Codes = response.Data;
    }

    private async void Open()
    {
        if (_selectedKey is not null)
            await CodeDetail.FetchAsync(_selectedKey);
        _toggleDetail = true;
        StateHasChanged();
    }

    private void OnSelectNode(TreeEventArgs<SettingCode> obj)
    {
        if (_selectedKey.Equals(obj.Node.Key.ToGuid()))
            _selectedKey = null;
        else _selectedKey = obj.Node.Key.ToGuid();
    }

}