<!DOCTYPE html>
<html lang="vi">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>

<h1>{{ heading }}</h1>
{{ for product in products }}
<li>
    <h2 class="bg-black">{{ product }}</h2>
</li>
{{ end }}
<script src="https://cdn.tailwindcss.com">
</body>
</html>