@using AioCore.Domain.IdentityAggregate

<Form Model="@SelectedRole"
      Layout="@FormLayout.Vertical">
    <FormItem Label="Tên nhóm">
        <Input @bind-Value="@context.Name" />
    </FormItem>
    <FormItem Label="Nhóm cha">
        <Select DataSource="@Roles" Class="w-100"
                Placeholder="Chọn nhóm cha"
                @bind-Value="@SelectedRole.ParentId"
                ValueName="@nameof(RoleResponse.Id)"
                LabelName="@nameof(RoleResponse.Name)">
        </Select>
    </FormItem>
</Form>